* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section { 
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    height: 100vh; 
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas:
    "header header header header"
    "side main main main"
    "side content1 content2 content3"
    "footer footer footer footer"
    ;
}
@media (max-width:599px){
    section{
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .7fr .5fr .8fr  .8fr .8fr .3fr; 
        grid-template-areas:
        "header"
        "main"
        "side"
        "content1"
        "content2"
        "content3"
        "footer"
        ;
    }  

    section .side{
        overflow: auto;
    }
}
@media (min-width:620px) and (max-width:1050px){
    section{
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: 0.3fr 1.3fr 0.5fr .7fr .3fr;
        grid-template-areas:
        "header header header"
        "main main main"
        "side side side"
        "content1 content2 content3"
        "content1 content2 content3"
        "footer footer footer"
        ;
    }
    section header .i2 i {
        opacity: 0;
    } 
}

section >*{
    padding:20px;
}

section header{
    background-color: rgb(81, 113, 80);
    text-transform: capitalize;
    border:3.5px solid #fff;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section header h1 {
    color: white;
    cursor: pointer;
}

section header ul{
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

section header i{
    color: aliceblue;
    font-size: 20px;
} 
@media (max-width:599px) {
    section header ul{
        display: none;
    }
}

section header .i2:hover +ul { 
    top: 70px;
    left: -100px;
    background: rgba(12, 221, 228, 0.5);
    height: calc(100vh - 100px);
    width: 120%;
    flex-direction: column;
    align-items: center;
    transition: left 0.5s linear;
    position: absolute;
    display: flex;
}

#section header .i2:checked ~ul { 
    left: 0;
}

@media (min-width:598px) {
    section header .i2 i{
        opacity: 0;
    } 
}
section header a{ 
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: .5s;
}

.main{
    background-image: url(../image/WhatsApp\ Image\ 2024-11-14\ at\ 20.02.29_f4aca77a.jpg);
    background-size: cover;
    background-position: center;
    grid-area: main;
    border:  3.5px solid #fff;
    border-top: 0;
    border-left: 0;
    height: 400px;
    color: #474747;
    padding: 25px;
    font-size: 20px;
}
.side {
    position: relative;
    padding: 20px;
    border: 5px solid transparent;
    border-image: linear-gradient(90deg, rgb(59, 92, 35), rgb(239, 239, 245)) 1;
     animation: borderAnimation 3s infinite; 
    background-color: rgb(81, 113, 80);
    background-size: cover;
    background-position: center;
    color: #000;
    grid-area: side; 
    padding: 25px;
    font-size: 20px;
}
 @keyframes borderAnimation {
    0% {
        border-image: linear-gradient(90deg, rgb(3, 57, 10), rgb(20, 20, 20)) 1;
    }
    50% {
        border-image: linear-gradient(90deg, rgb(3, 57, 10), rgb(38, 37, 37)) 1;
    }
    100% {
        border-image: linear-gradient(90deg,rgb(3, 57, 10), rgb(38, 38, 39)) 1;
    }
}  
.h3{
    color: #fff;
    padding-bottom: 20px;
}

.p4{
  color: rgb(232, 239, 239);
}

.content1{
    background-image: url(../image/WhatsApp\ Image\ 2024-11-14\ at\ 20.02.30_31dddf68.jpg);
    background-size: cover;
    background-position: center;
    grid-area: content1;
    border:  3.5px solid #fff;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    color: #444343;
    padding: 25px;
    font-size: 20px;
}

.content2{
    background-image: url(../image/WhatsApp\ Image\ 2024-11-14\ at\ 20.02.30_2fb9d9bd.jpg);
    background-size: cover;
    background-position: center;
    grid-area: content2;
    border: 3.5px solid #e7e5e5;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    color: #3f3f3f;
    padding: 25px;
    font-size: 20px;
}

.content3{
    background-image: url(../image/WhatsApp\ Image\ 2024-11-14\ at\ 20.02.30_bee99b80.jpg);
    background-size: cover;
    background-position: center;
    grid-area: content3;
    border-top: 0;
    border-left: 0;
    border-right:  3.5px solid #fff;
    color: #c0bcbc;
    padding: 25px;
    font-size: 20px;
}

.footer{
    background-color: rgb(81, 113, 80);
    grid-area: footer;
    border:  3.5px  solid #fff;
    color: #d1cbcb;
    font-size: 20px;
    padding: 25px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e3e1e1;
}

.icon i{
    padding-right: 25px;
    display: inline-block;
}